{% extends "header.html" %}
{% block content %}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">The Planeswalkers of the Multiverse</h1>
        </div>
        {% for image_name in images_names %}

        <div class="slideshow ">
            <h3>
                {{image_name[:-4].title()}}
            </h3>
            <a href="planeswalkers/{{image_name[:-4]}}">


                <img class="img-responsive"
                     src=" {{url_for('send_image', filename=image_name)}}"></a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
