{% extends "header.html" %}
{% block content %}
<header class="siteheader clearfix" xmlns="http://www.w3.org/1999/html">
    <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Morgana_0.jpg">
</header>
<div class="spacer">&nbsp;
</div>

<div class="col-sm-12 icara clearfix">
    <div class="container">
        <div class="bot-page">
            <h2>Welcome to League of Stats</h2>
            {% if err %}
            <div class="err"><strong>Error:</strong> {{ err }}</div>
            {% endif %}

            {{json}}
            <form class="form-inline" action='' method="post">

                <div class="form-group">
                    <label for="summonerName">Summoner Name</label>
                    <input type="text" name="summonerName" class="form-control"
                           value="{{ request.form.summonerName }}">
                </div>

                <div class="form-group">

                    <select class="form-control" id="sel1" name="region">
                        <option value="EUNE">EUNE</option>
                        <option value="EUW">EUW</option>
                        <option value="NA">NA</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
            <p>League of Stats is a League of Legends statistics prototype site We use the
                latest database technology to provide users with:</p>
            <ul class="list-group">
                <li class="list-group-item">Match Results</li>
                <li class="list-group-item">Profile Analytics</li>
                <li class="list-group-item">Items</li>
                <li class="list-group-item">and more to come</li>
            </ul>

        </div>

    </div>
</div>

{% endblock %}