{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="bot-page">
        <h2><span>The items of League of Legends</span></h2>


        <p>{{alreadyThere}}
        <p>
        <hr>

        <div class="table-responsive">
            <table class="table">
                 
                <thead>
                <tr>
                       
                    <th>ID</th>
                    <th>PIC</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Description</th>
                </tr>
                </thead>
                {% for item in item_info|sort(attribute='itemName') %}
                <tbody>
                <tr>
                    <td>{{item.id}}</td>
                    <td><img
                            src="http://ddragon.leagueoflegends.com/cdn/6.22.1/img/item/{{item.itemImage}}">
                    </td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.itemGold}}</td>
                    <td>{{item.itemDescription}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


            <hr>


            <br>
            <br>
            <br>

        </div>
    </div>

</div>
{% endblock %}
