{% extends "header.html" %}
{% block content %}
<header class="siteheader clearfix">
    <img src="../static/images/backgrounds/{{planeswalker.Pic}}">
</header>
<div class="spacer">&nbsp;
</div>


<div class="container">
    <div class="quote">
        <h1>
            {{planeswalker.Name}}
        </h1>
    </div>
    <div class="quote">
        <h2>
            {{planeswalker.Quote}}
        </h2>
    </div>
</div>
<div class="col-sm-12 icara clearfix">
    <div class="container">

        <div class="bot-page">
            <h2><span>Biography</span></h2>
            <p>
                {{planeswalker.Biography}}
            </p>
        </div>
        <div class="origin bot-page">
            <h2><span>Origin Plane - {{planeswalker.Origin}}</span></h2>
            <img class="img-responsive"
                 src="../static/images/origin_plane/{{planeswalker.Origin.lower()}}.png">
        </div>
        <div class="origin bot-page">
            <h2><span>Allies and Enemies</span></h2>
            <!--<h3>{{planeswalker.AlliesEnemies_pics}}</h3>-->
            <div class="row">
                {% set pics = planeswalker.AlliesEnemies_pics.split(',') %}
                {% for pic in pics %}
                <div class="slideshow">
                    <h3 class="fix-me">
                        {{pic[:-4].title()}}
                    </h3>
                    <a href="/planeswalkers/{{pic[:-4]}}">
                        <img class="img-responsive"
                             src="../static/images/walkers/{{pic}}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="origin bot-page">
            <h2><span>Planes Visited</span></h2>
        </div>
    </div>
    <div class="row">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner shrinked" role="listbox">
                <!--  <div class="item active"><h3>Alara</h3>
                      <img
                              src="{{ url_for('static', filename = 'images/planes/alara.png') }}">
                  </div>-->
                <ol class="carousel-indicators">
                    {% set planes = planeswalker.Planes.split(', ') %}
                    {% for image_name in planes %}
                    {% if loop.index == 1 %}
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% endif %}
                    {% if loop.index >= 2 %}
                    <li data-target="#myCarousel" data-slide-to="{{loop.index-1}}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>

                {% for plane in planes %}
                {% if loop.index == 1 %}
                <div class="item active"><h1>{{plane.title()}}</h1>
                    <img
                            src="../static/images/planes/{{plane.lower()}}.png">
                </div>
                {% endif %}
                {% if loop.index >= 2 %}
                <div class="item"><h1>{{plane.title()}}</h1>
                    <a href="/planes/{{plane[loop.index].lower()}}.png">
                        <img src="../static/images/planes/{{plane.lower()}}.png">
                    </a>
                </div>
                {% endif %}
                {% endfor %}


                <a class="left carousel-control" href="#myCarousel" role="button"
                   data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"
                              aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button"
                   data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"
                              aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
    </div>
    <!--<div class="container">-->
        <!--<div class="origin bot-page">-->
            <!--<table>-->
                <!--{% for key,value in planeswalker.iteritems() %}-->
                <!--<tr>-->
                    <!--<th> {{ key }}</th>-->
                    <!--<td> {{ value }}</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
</div>
{% endblock %}