<div class="container">
    <div class="bot-page">
        <h2><span>A Legendary Story</span></h2>


        <p>{{alreadyThere}}
        <hr>
        <p>{{summonerData}}
        <hr>
        <hr>


        {% for rune_page in rune_pages %}
        {{rune_page.name}}
        <hr>
        {{rune_page.id}}
        <hr>
        {% for rune in rune_page.runes %}
        {{rune.name}}
        {{rune.id}}
        {{rune.image}}
        {% endfor %}
        <hr>
        {{rune_page.current}}
        {% endfor %}
        <hr>
        {% for summonerData in summonerData %}
        {{summonerData.id}}
        {{summonerData.summonername}}
        {{summonerData.summonerLevel}}
        {% endfor %}

        {% for key, value in summonerData.iteritems() %}

        {{ key }} : {{ value }}
        <hr>

        {% endfor %}
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>


        </p>


        <p>
            {{summoner.name}}
        <hr>
        {{summoner}}
        <hr>
        <hr>
        {{championName}}
        <hr>
        {{masteryscore}}
        <hr>
        {{match}}

        {% for match in match %}
        <hr>
        {{match.timestamp}}
        <hr>
        {{match.champion}}
        <hr>
        {{match.region}}
        <hr>
        {{match.queue}}
        <hr>
        {{match.season}}
        <hr>
        {{match.matchId}}
        <hr>
        {{match.role}}
        <hr>
        {{match.platformId}}
        <hr>
        {{match.lane}}
        <hr>

        {% endfor %}
        <hr>


        <hr>
        {{summoner.level}} {{summoner.id}}
        <hr>
        {{champions}}
        <hr>
        {{summoner.level}}
        <hr>

        {% for champion in champions %}
        <hr>
        {{champion.name}}
        {{champion.id}}

        {% endfor %}
        <hr>

        </p>


    </div>

</div>

