<div class="container">
    <div class="bot-page">
        <h2><span>A Legendary Story</span></h2>


        <p>{{alreadyThere}}
        <hr>
        <p>{{summonerData}}
        <p>{{summonerData.summonerLevel}}
        <hr>
        <hr>
        <hr>

        <hr>
        {% for key, value in summonerData.iteritems() %}
        {{ key }}<p>icara</p>
        {{ value }}
        {% endfor %}
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>


        </p>


        <p>

        <hr>
        {{championName}}
        <hr>
        {{masteryscore}}
        <hr>
        {{match}}

        {% for match in match %}
        <hr>
        {{match.timestamp}}
        <hr>
        {{match.champion}}
        <hr>
        {{match.region}}
        <hr>
        {{match.queue}}
        <hr>
        {{match.season}}
        <hr>
        {{match.matchId}}
        <hr>
        {{match.role}}
        <hr>
        {{match.platformId}}
        <hr>
        {{match.lane}}
        <hr>

        {% endfor %}
        <hr>


        {% for champion in champions %}
        <hr>
        {{champion.name}}
        {{champion.id}}

        {% endfor %}
        <hr>

        </p>


    </div>

</div>

